html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 133%; /* Fallback: used if browser doesn't support calc() */
  font-size: calc(1.2em + 0.2vw + 0.2vh + 0.1vmin);
  color: white;
  background: black;
}

body {
  line-height: 1rem;
  font-size: 0.764rem;
}
