@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('fonts/inconsolata-v15-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/inconsolata-v15-latin-ext_latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
       url('fonts/inconsolata-v15-latin-ext_latin-700.woff2') format('woff2'),
       url('fonts/inconsolata-v15-latin-ext_latin-700.woff') format('woff');
}

html {
  font-family: Inconsolata, Menlo, monospace, monospace;
  font-size: 133%;
  font-size: calc(1.14em + 0.2vw + 0.2vh + 0.1vmin);
  color: hsl(0, 0%, 58.6%);
  background: #000;
}

body {
  line-height: 1rem;
  font-size: 0.8rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.page > * + * {
  margin-top: 1rem;
}

.padding,
.navigation > * {
  padding: .25rem;
}

@media (min-width: 40rem) {
  .padding,
  .navigation > * {
    padding: .5rem;
  }
}

.navigation > * {
  text-decoration: underline;
}

.navigation > *:hover,
.navigation > *:focus {
  color: hsl(0, 0%, 91%);
  outline: none;
}
